* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins';
}

header {
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    padding: 8px;
    background-color: white;
}

.icons {
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 24px;
    gap: 24px;
    overflow-y: auto;
    padding-bottom: 72px;
}

.listaPostagens {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.postagem {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 12px;
}

.superiorPostagem {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.superiorPostagem .imagemPerfil {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 1px #9E9B9B;
}

.divNomedata {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.superiorPostagem .nome {
    font-size: 1.2rem;
}

.superiorPostagem .data {
    font-size: 0.8rem;
    padding-top: 3px;
}

.divTituloBotao {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botaoEditar {
    color: white;
    background-color: #C79A8A;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 12px;
    border: none;
}

.inferiorPostagem {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.inferiorPostagem img {
    height: 18px;
}

.localizacao,
.categoria {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.conjuntoLocalizacao,
.conjuntoCategoria {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.pais-item,
.categoria-item {
    background-color: #D8C4C4;
    border-radius: 6px;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
}

.carrossel {
    position: relative; /* necessário para os botões absolutos */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.carrossel-btn {
    height: 100%;
    width: 8%;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #00000055;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* Botão esquerdo */
.carrossel-btn.left {
    left: 0;
}

/* Botão direito */
.carrossel-btn.right {
    right: 0;
}

/* Mostrar botões no hover do carrossel */
.carrossel:hover .carrossel-btn {
    opacity: 1;
}


.imagemPostagem {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 10px;
    border: solid 1px #9E9B9B;
}