* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins';
}

header {
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    padding: 8px;
    background-color: white;
}

.icons {
    height: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aviso-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
}

.aviso-box {
    background: white;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 350px;
}

.logo {
    width: 162px;
    height: 162px;
}

.aviso-titulo {
    font-size: 22px;
    margin-bottom: 10px;
}

.aviso-texto {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
}