* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins';
}

header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 8px;
    background-color: white;
    z-index: 100;
    border-top: 1px solid #dbdbdb;
}

.logoViajou {
    display: none;
}

.icons {
    display: flex;
    align-items: center ;
    height: 30px;
    width: auto;
    transition: 0.2s;
}

.icons:hover{
    transform: scale(1.1);
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aviso-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
}

.aviso-box {
    background: white;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 350px;
}

.logo {
    width: 162px;
    height: 162px;
}

.aviso-titulo {
    font-size: 22px;
    margin-bottom: 10px;
}

.aviso-texto {
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    body {
        flex-direction: row;
    }

    header {
        width: 80px;
        height: 100vh;
        top: 0;
        left: 0;
        bottom: auto;
        right: auto;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        border-top: none;
        border-right: 1px solid #dbdbdb;
        padding-bottom: 10%;
    }

    .logoViajou {
        display: flex;
        height: 10%;
    }

    .divIconsHeader {
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }

    .icons {
        height: 32px;
        width: 32px;
    }

}