* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins';
}

header {
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    padding: 8px;
    background-color: white;
}

.icons {
    height: 100%;
}

.input-container {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: solid 1px #9E9B9B;
    padding-left: 12px;
    padding-right: 12px;
    gap: 12px;
}

.input-container input {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    border: none;
    outline: none;
}

.input-container .lupa {
    height: 42px;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 24px;
    gap: 24px;
    overflow-y: auto;
    padding-bottom: 72px;
}

.listaPostagens {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.postagem {
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border: solid #9E9B9B 1px;
    gap: 18px;
    padding: 12px;
}

.superiorPostagem {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.superiorPostagem .imagemPerfil {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 1px #9E9B9B;
}

.superiorPostagem .nome {
    font-size: 1.2rem;
}

.superiorPostagem .data {
    font-size: 0.8rem;
    padding-top: 3px;
}

.postagem .imagemPostagem {
    max-height: 75%;
    max-width: 100%;
    border-radius: 15px;
}

.inferiorPostagem {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.inferiorPostagem img {
    height: 18px;
}

/* PESQUISA */
#resultadoPesquisa {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cardUsuario {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid #e1e1e1;
}

.cardUsuario:hover {
    background-color: #C79A8A;
}

.cardUsuario img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: solid 1px #9E9B9B;
}

.divNomes {
    display: flex;
    flex-direction: column;
}

.divNomes strong {
    font-size: 1.1rem;
}

.divNomes span {
    font-size: 0.7rem;
}