* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    background-color: white;
    z-index: 900;
    border-top: 1px solid #dbdbdb;
}

.icons {
    display: flex;
    align-items: center;
    height: 30px;
    width: auto;
    transition: 0.2s;
}

.icons:hover {
    transform: scale(1.1);
}

main {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 90px;
}

.dadosPerfil {
    height: auto;
    width: 96%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    border-bottom: solid #A8A8A8 1px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 10px;
}

.dadosPerfil img {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: solid 1px #9E9B9B;
    object-fit: cover;
}

.alinhamento {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 0.8rem;
}

.nomes {
    display: flex;
    flex-direction: column;
}

.nomes .nomeExibicao {
    font-size: 1.1rem;
    font-weight: 600;
}

.nomes .nomeUsuario {
    font-size: 0.8rem;
    color: #666;
}

.dadosPerfil .interacoes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
}

.dadosPerfil .botoes {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.botoes button {
    width: 72px;
    color: white;
    background-color: #C79A8A;
    border: none;
    border-radius: 15px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 0.9rem;
}

.filtros {
    position: relative;
    height: auto;
    width: 96%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.filtros button,
.filtros select {
    height: 36px;
    color: white;
    background-color: #C79A8A;
    border: none;
    border-radius: 12px;
    padding: 8px 12px;
    cursor: pointer;
    font-family: 'Poppins';
}

.filtros .remover {
    color: black;
}

select option {
    width: auto;
    font-size: 10px;
}

.filtroDataContainer {
    position: absolute;
    height: 150px;
    width: 275px;
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background: #d2a59a;
    color: white;
    z-index: 999;
}

.datas {
    width: 100%;
    display: flex;
    align-items: center;
}
.datas input {
    width: 100px;
    border-radius: 15px;
    background: #d2a59a;
}

.inicio, .final {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inicio{
    border-right: solid 1px white;
}

.paises {
    width: 180px;
    text-align: center;
}

.categoria {
    text-align: center;
}

.conjuntoPostagens {
    height: auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    padding-bottom: 20px;
}

.postagem {
    height: auto;
    width: 45%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border: solid #9E9B9B 1px;
    gap: 6px;
    padding: 10px;
    position: relative;
    background-color: white;
}

.cadeado {
    position: absolute;
    top: -5px;
    left: -2px;
    height: 12px;
}

.imagemContainer {
    position: relative;
    height: 84%;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.postagem .imagemContainer .imagemPostagem {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: solid #9E9B9B 1px;
    object-fit: cover;
    display: block;
}

.inferiorPostagem {
    height: 16%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    font-size: 0.7rem;
    padding-top: 5px;
}

.inferiorPostagem p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
}

.inferiorPostagem img {
    height: 16px;
    cursor: pointer;
}

.overlayPostagem {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.postagem:hover .overlayPostagem {
    opacity: 1;
}

.fundoModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    height: auto;
    width: 90%;
    max-width: 500px;
    padding: 24px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    background: #4b372f;
    animation: abrir 0.2s ease;
    gap: 20px;
}

@keyframes abrir {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.preview {
    position: relative;
    width: 112px;
    height: 112px;
}

.preview-input {
    display: none;
}

.preview-image {
    height: 112px;
    width: 112px;
    border-radius: 50%;
    background-color: #ddd;
    object-fit: cover;
    border: 2px solid white;
}

.preview-label {
    width: 112px;
    height: 112px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    cursor: pointer;
}

.modal .informacoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.arquivos {
    display: flex;
    justify-content: center;
    position: relative;
}

.campos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    color: white;
}

.campos div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal input,
.modal textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #dfbdae;
    color: #4b372f;
    font-family: 'Poppins';
}

.campos .biografia {
    height: 80px;
    resize: none;
}

.botoesModal {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    width: 100%;
}

.botoesModal button {
    padding: 10px 24px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    color: white;
    background-color: #C79A8A;
    transition: 0.2s;
}

.botoesModal button:hover {
    filter: brightness(0.9);
}

@media (min-width: 768px) {

    header {
        width: 80px;
        height: 100vh;
        top: 0;
        left: 0;
        bottom: auto;
        right: auto;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        border-top: none;
        border-right: 1px solid #dbdbdb;
    }

    .icons {
        height: 32px;
        width: 32px;
    }

    main {
        padding-left: 80px;
        padding-bottom: 24px;
        padding-top: 24px;
    }

    .modal .informacoes {
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
    }

    .arquivos {
        margin-top: 20px;
    }
}

@media (min-width: 1200px) {
    header {
        width: 100px;
    }

    main {
        padding-left: 100px;
    }
}