* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

header {
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    padding: 8px;
    background-color: white;
}

.icons {
    height: 100%;
}

.input-container {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: solid 1px #9E9B9B;
    padding-left: 12px;
    padding-right: 12px;
    gap: 12px;
}

.input-container input {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    border: none;
    outline: none;
}

.input-container .lupa {
    height: 42px;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 24px;
    gap: 24px;
}

.tituloPagina {
    width: 90%;
    font-size: 2rem;
    font-weight: bold;
}

form {
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input, select, textarea{
    border-radius: 10px;
    padding-left: 8px;
    align-items: start;
}

.descricao textarea {
    height: 100px;
    width: 100%;
    padding: 8px;
    border: solid black 1px;
    box-sizing: border-box;
    vertical-align: top; /* começar no topo*/
    white-space: pre-wrap;/* quebar linha */
}

.preview {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid red;
    background-color: yellow;
}

.preview-input {
    /* display: none; */
    background-color: red;
}
.preview-image {
    height: 100px;
    width: 100px;
    border-radius: 6px;
    background-color: rebeccapurple;
}

.preview-label {
    position:absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.publico {
    flex-direction: row;
    gap: 12px;
}

.paisesEscolhidos {
    display: flex;
    gap: 12px;
}

.paisesEscolhidos span {
    background-color: #D8C4C4;
    border-radius: 6px;
    padding: 4px;
    padding-left: 12px;
    padding-right: 12px;
}

.paisesEscolhidos span:hover {
    background-color: #9E9B9B;
}

.botoes {
    height: 50px;
    width: 90%;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
}

.botoes button {
    width: 100px;
    color: white;
    background-color: #C79A8A;
    border: none;
    border-radius: 15px;
}